.Game {
    min-height: 30vh;
    box-shadow: 0px 5px 30px rgba(0,0,0,0.2);
    text-align: center;
    border-radius: 1rem;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}