.Game {
  height: 45vh;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  p {
    margin-bottom: auto;
  }

  .img-container {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
