.Nav {
    padding: 2rem 4rem;
    text-align: center;

    .logo {
        display: flex;
        justify-content: center;
        padding: 1rem;
        cursor: pointer;

        img {
            height: 2rem;
            width: 2rem;
        }
    }

    input {
        width: 30%;
        font-size: 1rem;
        padding: 0.5rem;
        border: none;
        margin-top: 1rem;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    }
    button {
        font-size: 1rem;
        border: none;
        padding: 0.5rem 2rem;
        cursor: pointer;
        background-color: #ff7676;
        color: white;
    }
}